{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/fontawesome.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/main_head.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/detail_service.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'css/contact_detail.css' %} " type="text/css">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    {% block main %}
   {% endblock %}
</body>
</html>