{% extends 'base\head.html' %}
{% load static %}
{% block main %}
<header>
  <div class="container mt-1 fs-5 ">
    <div class="row align-items-center  ">
        <div class="col-sm-2 d-none d-lg-block d-print-block ">
            <a  href="{% url 'service:index' %}">
            <img src="
                {% with 'core'|add:contact.img_logo.url as image_static %}
                {% static image_static %}
                {% endwith %}"  class=" img-fluid" alt="home" />
            </a>
        </div>
        <div class="col-sm-2">
            <p> Адрес: <br>
                {{contact.address_shop}}
        </div>
        <div class="col-sm-3">
            <p> Почта: <br>
            {{contact.email}} </p>
        </div>
        <div class="col">
            <i class="fab fa-viber"> {{contact.telephone}}</i>
            <br>
            <i class="fab fa-telegram"> {{contact.telephone}}</i>
        </div>
        <div class="col-sm-3 " >
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
  <div class="row">
      <div class="col-1 p-2" >

    </div>
  </div>
</header>
<div class="container ">
    <div class="row justify-content-md-center  ">
         <div class="col-sm-2">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary"><a class="text-decoration-none text-reset" href="{% url 'service:index' %}"> Главная  </a></button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Услуги
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {% for service in object_list %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'service:ServicesDetail' pk=service.id%}">{{service.name}}
                                    </a></li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-primary"> Контакты</button>

                </div>
         </div>
        </div>

    {% block footer %}
    {% endblock %}
{% endblock %}
