{% extends 'base/header.html' %}
{% load static %}

{% block header %}
{% block footer %}


    {% block body %}

    {% endblock %}
  </div>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted bg-light">
    <div class="container text-center text-md-start">
      <div class="row mt-4  p-1">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
           <!-- <i class="fas fa-gem me-3"></i> --> {{contact.name}}
          </h6>
          <p>
            Полиграфические услуги в Харькове
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Контакты
          </h6>
          <p><i class="fas fa-home me-3"></i> {{contact.address_shop}}</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            {{contact.email}}
          </p>
          <p><i class="fab fa-viber me-3"></i> {{contact.telephone}}</p>
          <p><i class="fab fa-telegram me-3"></i> {{contact.telephone}}</p>
        </div>
      </div>
    </div>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: Все права защищены. При использовании материалов
сайта прямая гиперссылка на сайт zrada.com.ua
обязательна.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    {% endblock %}

{% endblock%}