{% extends 'base/main.html' %}
{% load static %}
{% block title %} Помощь{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'service:index'%}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Помощь</li>

       </ol>
</nav>
    <div class="row ">
        <h3>Помощь</h3>
    </div>
    <div class="row ">
        <p> Some text </p>
    </div>
    <div class="row ">
        <h4>Оглавление </h4>
    </div>
    <ol>
        {%for type in type_help_messenger%}
            <div class="row">
                <li> {{type.name}}</li>
            </div>
        {% endfor %}
    </ol>
    {%for type in type_help_messenger%}
        <div class="row">
            <h3>Помощь с Telegram</h3>
        </div>
        <div class="row">
            <p>{{ type_help_telegram.description_name }}</p>
        </div>
        <div class="row">
            <h4>Шаги</h4>
        </div>
            <ol>
                {%for steps in type_help_telegram.steps.all%}
                    <div class="row">
                        <li>
                            <p>{{steps.description_stage}}</p>
                            <img src="{% with 'core'|add:steps.img_url as image_static %}
                            {% static image_static %}
                            {% endwith %}" class="img-thumbnail" alt="img_step">
                        </li>
                    </div>
                {% endfor %}
            </ol>
    {% endfor %}
{% endblock%}