{% extends 'base/main.html' %}
{% load static %}
{% block title %} Помощь с Telegram и Viber{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'service:index'%}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Помощь</li>

       </ol>
</nav>
    <h3>Помощь</h3>
    <p> Some text </p>
    <h4>Оглавление </h4>
    <ol>
        <li> Telegram</li>
        <li> Viber</li>
    </ol>
    <h3>Помощь с Telegram</h3>
{% endblock%}