{% extends 'base\main.html' %}
{% load static %}
{% block title %} Main {% endblock %}
{% block body %}
<div class="row row-cols-1 row-cols-md-4 g-4 md-4 mt-1">
    {% for service in object_list %}
            <div class="col align-self-center ">
                <div class="card" style="width: 18rem;">
                    <img src="
                        {% with 'core'|add:service.img.img.url as image_static %}
                        {% static image_static %}
                        {% endwith %}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{service.name}}</h5>
                        <p class="card-text">
                        {{service.descriptions}} </p>
                        <a href="#" class="btn btn-primary">Детальный просмотр</a>
                    </div>

                </div>

            </div>
    {% endfor %}
        </div>
    </div>
</div>
{% endblock%}