.img-max {
  width:80%;

}

.wrap ul {
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  list-style-type: decimal;
  height: 200px;

}

.list_services a{
  color: black;
  text-decoration: none;

}

.logo_r img{
  border: 4px double black; /* Параметры границы */

}